/* App.css */
.light-theme {
  background-color: #f0f0f0; /* Light theme background */
  color: #333; /* Text color for light theme */
}

.dark-theme {
  background-color: #1a1a1a; /* Dark theme background */
  color: #fff; /* Text color for dark theme */
}

.dark-theme-container {
  background-color: #1a1a1a; /* Dark theme background */
  color: #fff; /* Text color for dark theme */
  padding: 20px; /* Add padding if needed */
  min-height: 100vh; /* Ensure the container takes full height */
}

.hero, .navbar {
  background-color: #ffffff; /* Light background for Hero and Navbar */
  color: #333; /* Text color for light theme */
}
@tailwind base;
@tailwind components;
@tailwind utilities;